body {
    background-color: #94DAFF;
    word-wrap: break-word;
    list-style-type: none;
    min-height: 100vh;
    position: relative;
    padding-bottom: 3rem;

}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    background-color: #B983FF;
    border-radius: 0.4rem;
    border: 0.2rem solid rgb(166, 96, 246);
    transition: all 0.4s ease-in-out;
}

input {
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    
}

h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin-top: 7rem;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    background-color: #6166b3b2;
    z-index: 1;
}

#footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: #6166b3b2;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.fa-trash-alt {
    background: rgba(255, 0, 0, 0.856);
    font-size: 1.5rem;
}

.fa-edit {
    font-size: 1.5rem;
    background: yellow;
}

.wrapper {
    background-color: #94B3FD;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 15rem;
    width: fit-content;
    border: 0.1rem solid rgb(166, 96, 246);
    margin: auto;
    width: 25%;
}

#feedback {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(166, 96, 246);
    padding: 1rem;
}

#vecchiaVers {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(166, 96, 246);
    padding: 1rem;
}

#item {
    margin-left: auto;
}

#data {
    margin-right: auto;
}

#lista {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(166, 96, 246);
    padding: 0.5rem;
}

.input {
    display: flex;
    margin-top: 1rem;
}

.mt50 {
    margin-top: 5rem;
}

.hidden {
    display: none;
}

.hidden1 {
    display: none;
}