body {
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;/*margine sopra e sotto 0/ destra e sinistra auto;*/
}

                                                /*menù di navigazione*/
.mainMenu ul{
    list-style-type: none;
    display: flex;
}

#mainHeader {
    display: flex;
    flex-flow: row;/*proprietà di deaful che imposta il main axis su row*/
    align-items: center;/*centra gli oggetti in verticale*/
    justify-content: space-between;
}

.mainMenu ul li {/*tutti gli li contenuti da ul che a sua volta sta dentro .mainmenu*/
    margin-left: 1rem;
}
                                                /*hero*/

#hero {
    margin-bottom: 5rem;
    position: relative;
}

.overlay {
    position: absolute;/*sovrapposto a #hero*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);/*fallback per i browser*/
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1573) 0%, rgba(0, 0, 0, 1) 100%);/*background con sfondo copiato da css gradient*/
}

.heroText {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    
    height: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    
    text-align: center;
    z-index: 1; /*sovrappone sempre l'elemento in modo che sia il più altro. zindex è di default 0. Così scalando*/
}

                                                /*intro*/
#intro {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.introImg, .introText {
    flex-basis: 50%;
}

.introImg img {
    width: 100%;
}

.introImg {
    order: 1;
}

.introText {
    padding-left: 3rem;
}

                                                /*gallery*/
#gallery {
    margin-bottom: 5rem;

}

.galleryWrapper {
    display: flex;
    flex-wrap: wrap;/*mandate a capo gli oggetti*/
}

.galleryItem {
    width: 25%;
    padding: 1rem;
}

.galleryItem img {
    display: block;/*serve per evitare che le immagini abbiano un spazio sotto*/
}

                                                /*footer*/
#mainFooter {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: darkblue;
    color: darkgoldenrod;
}